.GameSettingsForm {
  width: 70%;
  align-content: center;
  align-self: center;
  max-width: 300px;
  margin-top: 1em;
}

.GameSettingsForm-winScoreInput {
  margin-top: 5px;
  box-shadow: -1px 1px 3px black;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}
