.GameWindow h1 {
  margin: 0;
}

.GameWindow-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 350px;
  padding: 1em;
  background-color: white;
  border-radius: 15%;
  margin-top: 2vh;
}

.GameWindow {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1em 0;
  /* border: 1em solid white; */
  border-radius: 15%;
  background-color: #379711;
}

.GameWindow-endGame {
  margin-top: 2rem;
  text-decoration: none;
  -webkit-text-stroke: 0.75px black;
  color: white;
}
