.Player {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: center;
  width: 80%;
}

.Player-remove {
  box-shadow: -1px 1px 3px black;
}
.Player-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
