.Scoreboard h1 {
  margin: 0;
}

.Scoreboard-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 350px;
  padding: 1em;
  background-color: white;
  border-radius: 15%;
  margin-top: 2vh;
}

.Scoreboard {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* max-width: 350px; */
  padding: 1em 0;
  border-radius: 15%;
  background-color: #0956bf;
}

.Scoreboard-message {
  width: 100%;
  text-align: center;
}

.Scoreboard-newGame {
  margin-top: 2rem;
  text-decoration: none;
  -webkit-text-stroke: 0.75px black;
  color: white;
}
